body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;

}
.calculator {
  background-color: #561e69;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 40px;
}
#display{
    height: 60px;
    color: rgb(33, 37, 43);
    font-size: 31px;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
}
.btn{
    font-size: 20px;
    height: 65px;
    width: 90px;
    border-radius: 5px;
}

.operator{
  background-color:rgb(163, 136, 169);
}

.button{
    padding: 15px;
    font-size: 20px;
    height: 50%;
    cursor: pointer;
    background-color: #eeeeee;
    border: none;
    border-radius: 10px;
    transition: background-color 0.2s;
}
button:hover {
  background-color:rgb(93, 76, 99);
  box-shadow: inset;
}

